.second {
  width: 100%;
  background-color: white;
  padding-left: 60px;
}
.second .head {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}
.second .head .fb {
  margin: 0px 25px;
  color: #5aa47c;
}
.second .head .fb2 {
  margin: 0px 25px;
}
.second .head .seach {
  margin-left: 400px;
  font-size: 15px;
}
.second .head .seach input {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  line-height: 30px;
}
.second .head .seach img {
  margin: 0px 10px;
}
.second .head .seach .smb {
  width: 90px;
  height: 40px;
  padding: 0px 10px;
}
